@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	border: none;
	cursor: pointer;
}

.tab {
	width: 80%;
	margin: 50px auto;
}

.tab-menu {
	padding: 10px 20px;
	border: 1px solid #000;
}

.tab-menu.on {
	background: #000;
	color: #fff;
}

.tab-content-wrap {
	border: 1px solid #000;
	padding: 30px;
	margin-top: 5px;
}

.tab-content {
	display: none;
}

.tab-content.active {
	display: block;
}

.tab-content p {
	margin-top: 20px;
	line-height: 2;
}
